<div id="wrapper">
    <h1>
        RustyLynx.Com
    </h1>
    <div id="inner">
        <div class="seg">
            <h2>Social Media</h2>
            <p (click)="discord();">Discord</p>
            <p (click)="facebook();">Facebook</p>
            <p>Youtube [Soon]</p>
        </div>
        <div class="seg">
            <h2>Our Servers</h2>
            <p>Learn To Play</p>
            <p>2x</p>
            <p>PVE</p>
            <p>5x</p>
        </div>
        <div class="seg">
            <h2>VIP</h2>
            <p>Bronze [Soon]</p>
            <p>Silver [Soon]</p>
            <p>Gold [Soon]</p>
            <p>Platinum [Soon]</p>
        </div>
    </div>
</div>