body {
    margin: 0px;
    padding: 0px;

    font-family: "Quicksand", sans-serif;
    color: white;

    text-rendering: optimizeLegibility;

    background-color: #09090a;
    min-height: 100vh;
    overflow: hidden;
}